@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

h1.posicionamento{
    max-width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;    
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
body{
    background-image: url(https://i.gifer.com/si9.gif);
    background-repeat: no-repeat;
    background-size: cover;
}